@import '../scss/reset'; 
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

// <Переменные> ============================================================================================================================================
$blackColor: #0A0A0A;
$fontColor2: #FAF9F7;
// </Переменные> ============================================================================================================================================

// <Утилиты> ============================================================================================================================================
.none {
    display: none !important;
}
.visually-hidden {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    margin-left: -100000px;
    background: transparent;
    font-size: 0;
}
.no-scroll {
    overflow: hidden;
}
// </Утилиты> ============================================================================================================================================

// </Повторяшки> ============================================================================================================================================

// </Повторяшки> ============================================================================================================================================

// <Сетка и Базовые> ============================================================================================================================================
.main {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: $blackColor;
    // font-family: 'Roboto', sans-serif;
}
// .container {
//     width: 970px;
//     padding: 0 15px;
//     margin: 0 auto;
// }

// </Сетка> ============================================================================================================================================

// <Импорт> ============================================================================================================================================
  
@import '../scss/repeat';
@import '../scss/nav';
@import '../scss/header';
@import '../scss/answers';
@import '../scss/pricing';
@import '../scss/about';
@import '../scss/footer';