.footer {
    padding: 102px 0px 25px 0px;

    background-color: #DBFAA8;
}
.footer__wrapper {
    max-width: 1152px;
    margin: 0 auto;
}
.footer__socials {
    padding-bottom: 13px;
    margin-bottom: 9px;

    display: flex;
    justify-content: flex-end;
    column-gap: 12px;

    border-bottom: 1px solid $blackColor;
}
.footer__social {
    &:hover {
        opacity: 0.8;
    }
}
.footer__content {
    display: flex;
    justify-content: space-between;
}
.footer__copy {
    font-size: 12px;
    line-height: 16px;
}
.footer__links {
    display: flex;
    column-gap: 12px;
}
.footer__link {
    font-size: 12px;
    line-height: 18px;
    &:hover {
        opacity: 0.8;
    }
}