.pricing__top {
    padding: 231px 0px 254px;

    background-color: #FBF19B;
}
.pricing__title {
    margin-bottom: 43px;

    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 57px;
    line-height: 64px;
}
.pricing__text {
    margin: 0 auto;
    max-width: 478px;

    font-size: 16px;
    line-height: 24px;
}
.pricing__bot {
    padding: 159px 0px 95px;

    text-align: center;

    background-color: #D4F2F9;
}
.pricing__quote {
    margin: 0 auto 31px auto;
    max-width: 377px;

    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 36px;
}
.pricing__author {
    color: #504F4F;
    font-size: 11px;
    line-height: 16px;
}